<!doctype html>
<html lang="en">
    <head>
        <title>vincenzo</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <br><br><br><br><br>
        <div style="text-align:center;">
            <img src='/static/front/images/zlkt.ico'  class='lazyload avatar avatar-96 photo'height='150' width='150'>
            <h1>by_vincenzo</h1>
            <h3>Twitter：<a style="color: crimson;">@svczs</a></h3>
            <h3>Telegram：<a style="color: crimson;">@vczbb</a></h3>
            <h3>Github：<a style="color:blue">github.com/vczs</a></h3>
            <h3>Dockerhub：<a style="color: blue;">hub.docker.com/u/vczs</a></h3>
        </div>
    </body>
</html>