<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>vincenzo_blog</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
    </head>
    <body>
        <h1 style="text-align:center;">欢迎登录后台管理系统</h1>
        <br><br><br><br><br>
        <h2 style="text-align:center;"> <a href="/cms/index/post_list">点击查看帖子列表</a> </h2>
    </body>
</html>